{% extends 'base.template.html' %}

{% block content %}
<div style="
  height: 60vh; 
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
">
  {%for cart_item in all_cart_items %}
  <div class="media cartItem">
    <img src="{{ cart_item.product.image.url }}" class="mr-3" style="
      height: 120px;
    ">
    <div class="media-body">
      <h5 class="mt-0">{{cart_item.product.name}}</h5>
      <p>
      {{cart_item.product.description}}
      </p>
      <p>
        Cost: ${{cart_item.product.getCostInDollars}} <br/>
        Quantity: {{cart_item.quantity}}
      </p>
      <p>
        <a href="{% url 'remove_from_cart' cart_item_id=cart_item.id %}" class="btn btn-danger">Remove</a>
      </p>
    </div>
  </div>
  {%endfor%}
</div>

<a href='/checkout' class="btn btn-outline-secondary btn-lg btn-block mt-5" style='color:white;'>CHECKOUT</a>

{% endblock %}