html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

/* Main Body */
#cont {
    background-image: url('../images/bg1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#contCon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation */
#indexNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
    flex:  1;
}

#navLogo {
    height: 7em;
}

.nav-items {
    color: white;
    font-size: 1em;
    
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.nav-items:hover {
    color: #cccccc;
    text-decoration: none;
}

/* Items */
#itemsCon {
    flex: 5;
    
    display: flex;
}

#gif {
    flex: 3;
    background-image: url('../images/gif4.gif');
    background-size: cover;
    background-position: center;
    height: 100%;
}

#items {
    flex: 2;
    height: 100%;
}