{% extends 'base.template.html' %}

{%block title%}THIRT13N Music{%endblock%}

{%block content %}
<div style="
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
">
    <div style="
        height: 1900px;
    ">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/2DuEcD5SY2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/wyMXq_YknuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/Vmze3bC5CTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/GXXF5hvbRjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
</div>

{% endblock %}