{% extends 'base.template.html' %}

{%block title%}THIRT13N{%endblock%}

{%block content %}
<section class='container space1'></section>

<section class='container' id='cta'>
    <!-- Album Art -->
    <div id='albumArt'></div>
    
    <!-- Label -->
    <div id='label'>
        <h6>THIRT13N: CHAPTER I</h6>
        <p>THIRT13N // 2017</p>
        <a href="{% url 'album' %}" class="btn btn-outline-light" id='ctaButton'>LISTEN NOW</a>
    </div>
    
    <!-- Space -->
    <div class='space2'></div>
</section>
{% endblock %}