body {
    background-color: black;
}

#cont {
    background-image: url('images/bg1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
    scroll-snap-align: start;
}

#contCon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation */
#indexNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
}

#navLogo {
    height: 7em;
}

.nav-items {
    color: white;
    font-size: 1em;
    
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.nav-items:hover {
    color: #cccccc;
    text-decoration: none;
}

#logCon {
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logConCon {
    background-color: rgba(255, 255, 255, .25);
    padding: 2em;
}

/* CTA */
#cta {
    padding-bottom: 3em;
    display: flex;
}

#albumArt {
    flex: 2;
    height: 200px;
    background-image: url('images/albumart.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#label {
    flex: 3;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#label h6 {
    font-weight: bolder;
    font-size: 2.5em;
}

#label p {
    font-weight: lighter;
    font-style: italic;
    font-size: 2em;
}

#ctaButton {
    font-size: 1em;
}

.space1 {
    flex: 6;
}

.space2 {
    flex: 3;
}

.cartItem {
    padding: 20px;
    background-color: #efefef;
    margin-bottom: 2em;
}

#navLogo:hover {
    cursor: pointer;
}