{% extends 'base.template.html' %}

{%block content %}
<section id='itemsCon' style='
    width: 100%;
    overflow: scroll;
'>
    <!-- Content -->
    <div style='
        margin-top: 3em;
        width: 200%;
        display: flex;
        justify-content: space-between;
    '>
        {%for product in all_products %}
        <div class="card" style="
            width: 30em;
            height: 40em;
        ">
            <div class="card-body" style="
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            ">
                <img src="{{ product.image.url }}" class="card-img-top mb-4">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text mb-4">{{ product.description }}</p>
                <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock %}